<!-- ambulance_app/templates/ambulance_info.html -->

{% extends "users/base_home.htm" %}
{% load static %}
{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 16px;
        text-align: left;
    }

    th, td {
        padding: 12px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    tbody td {
        color: #333;
    }

    table td:first-child {
        font-weight: bold;
    }
</style>
    <div class="d-flex justify-content-center align-items-center bg-cover">
        <div class="container-overlay-login">
    <h1 style="text-align: center;">Ambulance Information</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for ambulance in ambulances %}
            <tr>
                <td>{{ ambulance.id }}</td>
                <td>{{ ambulance.name }}</td>
                <td>
                    {% if ambulance.status == "Available" %}
                        <a href="https://www.google.com/maps/place/Mowlana+Bhashani+Hall/@23.8803305,90.2617624,17z/data=!4m6!3m5!1s0x3755e99fa3067585:0xfd8a7bb0982e4103!8m2!3d23.8803308!4d90.2638932!16s%2Fg%2F11c2lsgmm5?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D?q={{ ambulance.coordinates }}" target="_blank">{{ ambulance.location }}</a>
                    {% else %}
                        {{ ambulance.location }}
                    {% endif %}
                </td>
                <td>{{ ambulance.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
    </div>

    {% endblock content %}
