{% extends "users/base_home.htm" %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center bg-cover">
    <div class="container-overlay-register">
        <h2>Create Account</h2>
        <form method="post" action="{% url 'users-register' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="custom-label" for="id_name">Name:</label>
                {{ form.name }}       

                {% if form.name.errors %}
                <div class="error-message">{{ form.name.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="custom-label" for="id_email">Email:</label>
                {{ form.email }}            

                {% if form.email.errors %}
                <div class="error-message">{{ form.email.errors }}</div>
                {% endif %}   
            </div>

            <div class="form-group">
                <label class ="custom-label" for="id_role">Role:</label>
                {{ form.role }}            

                {% if form.role.errors %}
                <div class="error-message">{{ form.role.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="custom-label" for="id_blood_group">Blood Group:</label>
                {{ form.blood_group }}    

                {% if form.blood_group.errors %}
                <div class="error-message">{{ form.blood_group.errors }}</div>
                {% endif %}  
            </div>

            <div class="form-group">
                <label class="custom-label" for="id_date_of_birth">Date of Birth:</label>
                {{ form.date_of_birth }}

                {% if form.date_of_birth.errors %}
                <div class="error-message">{{ form.date_of_birth.errors }}</div>
                {% endif %}        
            </div>
            <div class="form-group">
                <label class="custom-label" for="id_gender">Gender:</label>
                {{ form.gender }}   

                {% if form.gender.errors %}
                <div class="error-message">{{ form.gender.errors }}</div>
                {% endif %}  
            </div>

            <div class="form-group">

                <label class="custom-label" for="id_phone_number">Phone Number:</label>
                {{ form.phone_number }}

                {% if form.phone_number.errors %}
                <div class="error-message">{{ form.phone_number.errors }}</div>
                {% endif %} 
            </div>

            <div class="form-group">
                <label class="custom-label" for="id_password1">Password:</label>
                {{ form.password1 }} 

                {% if form.password1.errors %}
                <div class="error-message">{{ form.password1.errors }}</div>
                {% endif %}  
            </div>

            <div class="form-group">
                <label class="custom-label" for="id_password2">Confirm Password:</label>
                {{ form.password2 }} 

                {% if form.password2.errors %}
                <div class="error-message">{{ form.password2.errors }}</div>
                {% endif %} 
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
{% endblock content %}

