{% extends "doctors/base_doctors.htm" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="shadow-lg mt-4 p-3">
            <div >
                <div class="text-center mb-4">
                    <img src="{{ patient.user.profile_picture.url }}" alt="Profile Picture" class="rounded-circle" style="height: 100px; width: 100px;">
                </div>
                <h5 class="card-title text-center">{{ patient.user.name }}</h5>
                <p class="text-center text-muted">{{ patient.user.role|title }}</p>

                <table class="table table-borderless mt-3" style="width: 40vh; margin-left: auto; margin-right: auto;  ">
                    <tr>
                        <th>Email:</th>
                        <td>{{ patient.user.email }}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{ patient.user.phone_number }}</td>
                    </tr>
                    <tr>
                        <th>Blood Group:</th>
                        <td>{{ patient.user.blood_group }}</td>
                    </tr>
                    <tr>
                        <th>Date of Birth:</th>
                        <td>{{ patient.user.date_of_birth }}</td>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <td>{{ age }}</td>
                    </tr>
                    <tr>
                        <th>Gender:</th>
                        <td>{{ patient.user.gender }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="shadow-lg mt-4 p-3">
            <div >
                <h5 class="card-title text-center">Appointment Information</h5>
                <table class="table table-borderless mt-3" style="width: 40vh; margin-left: auto; margin-right: auto;  ">
                    <tr>
                        <th>Problem(s):</th>
                        <td>{{ appointment.reason }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-section prescription-sections" id="prescription-form">
            <form>
                <div class="mb-3">
                    <label for="complains" class="form-label">Complains</label>
                    <textarea id="complains" class="form-control" rows="2"></textarea>
                </div>
                <div class="mb-3">
                    <label for="diagnosis" class="form-label">Diagnosis</label>
                    <textarea id="diagnosis" class="form-control" rows="2"></textarea>
                </div>
                <div class="mb-3">
                    <label for="vital-signs" class="form-label">Vital Signs</label>
                    <textarea id="vital-signs" class="form-control" rows="2"></textarea>
                </div>
                <div class="mb-3">
                    <label for="vital-signs" class="form-label">Referral</label>
                    <textarea id="vital-signs" class="form-control" rows="2"></textarea>
                </div>
                
                <div class="prescription-sub-sections">
                    <h5>Medical Tests</h5>
                    <div class="row">
                        {% for test in tests %}
                            {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                                </div>
                                <div class="row">
                            {% endif %}
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="{{ test.id }}">
                                    <label class="form-check-label" for="{{ test.id }}">
                                        {{ test.name }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>                    
                </div>
                <div class="prescription-sub-sections">
                    <h5>Medicine</h5>
                    <div class="scrollable-table-sm">
                        <table class="table table-sm table-bordered medicine-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Dosage</th>
                                    <th>Instruction</th>
                                    <th>Quantity</th>
                                    <th>Dosage frequency</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="medicines-table-body">
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-outline-success btn-sm" id="add-medicine-btn">+ Add Medicine</button>
                </div>
                <div class="prescription-sub-sections">
                    <div class="attachment-section">
                        <h5 class="mb-3">Next Checkup</h5>
                        <input type="date" class="form-control" value="1">
                    </div>
                </div>
                <button type="submit" class="btn btn-md st-cons-btn">Save</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('page-title').textContent = 'Prescribe Patient';

    document.getElementById('add-medicine-btn').addEventListener('click', function() {
        event.preventDefault();
        const tableBody = document.getElementById('medicines-table-body');
        
        const rowId = 'row-' + new Date().getTime();
        const newRow = document.createElement('tr');
        newRow.id = rowId;
        newRow.innerHTML = `
            <td>
                <select class="form-select" style="width: 150px;">
                    {% for medicine in medicines %}
                        <option value="{{ medicine }}">{{ medicine }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" value="1" style="width: 50px;"></td>
            <td><input type="text" placeholder="Instruction"></td>
            <td><input type="text" value="1" style="width: 50px;"></td>
            <td>
                <select class="form-select" style="width: 100px;">
                    {% for frequency in frequencies %}
                        <option value="{{ frequency }}">{{ frequency }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><button id="delete-btn-${rowId}" class="btn btn-danger btn-sm">X</button></td>
        `;
        
        tableBody.appendChild(newRow);
        document.getElementById(`delete-btn-${rowId}`).addEventListener('click', function() {
            // Remove the row by its unique ID
            const rowToDelete = document.getElementById(rowId);
            rowToDelete.remove();
        });
    });
    
</script>
{% endblock content %}