{% extends "users/base_home.htm" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center bg-cover">
        <div class="container-overlay-login">
            <h2>Sign In</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                <label for="email" class="form-labels">Email address</label>
                <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                <label for="password" class="form-labels">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                {% if form.non_field_errors %}
                    <h6 style="color: red; margin-top:5px;">
                        {{ form.non_field_errors|first }}
                    </h6>
                {% endif %}
                <div><button type="submit" class="btn btn-success" id="login-button">Submit</button><br></div>
                <div class="link-div"><a href="#" class="link-texts">Not registered yet? Sign up..</a></div>
                <div class="link-div"><a href="#" class="link-texts">Forgot Password?? Reset it..</a></div>
            </form>
        </div>
    </div>
{% endblock content %}

